{% from "_render_field.html" import render_field %}
{% extends "base.html" %}

<body>
  {% block mainblock %}
  <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
    {% if bookings|length == 0 %}
    <h3 style="margin: 0;">No booking to Manage</h3>
    <form action="{{ url_for('bookingController.manageBooking') }}" method="GET" class="d-inline-block"
      style="margin-right: 10px;">
      <div class="form-group d-flex align-items-center">
        <select name="status" id="status" class="form-control form-control-sm me-2" style="width: auto;">
          <option value="" {% if not selected_status or selected_status=='' %}selected{% endif %}>All</option>
          <option value="completed" {% if selected_status=='completed' %}selected{% endif %}>Completed</option>
          <option value="cancelled" {% if selected_status=='cancelled' %}selected{% endif %}>Cancelled</option>
          <option value="upcoming" {% if selected_status=='upcoming' %}selected{% endif %}>Upcoming</option>
        </select>
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
    {% endif %}
  </div>

  {% if bookings|length > 0 %}
  <div style="overflow-x:auto;">
    <table>
      <tr>
        <form action="{{ url_for('bookingController.manageBooking') }}" method="GET" class="d-inline-block">
          <div class="form-group float-right">
            <select name="status" id="status" class="form-control form-control-sm d-inline-block me-2"
              style="width: auto;">
              <option value="" {% if not selected_status or selected_status=='' %}selected{% endif %}>All</option>
              <option value="completed" {% if selected_status=='completed' %}selected{% endif %}>Completed</option>
              <option value="cancelled" {% if selected_status=='cancelled' %}selected{% endif %}>Cancelled</option>
              <option value="upcoming" {% if selected_status=='upcoming' %}selected{% endif %}>Upcoming</option>
            </select>
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
        </form>
      </tr>
      <tr>
        <th></th>
        <th>Package Name</th>
        <th>Status</th>
        <th>Check-In Date</th>
        <th>Change to Date</th>
        <th></th>
        <th></th>
      </tr>
      {% for booking in bookings %}
      <tr>
        <td style="width: 25%;">
          <img src="{{booking.package.image_url}}" class="img-fluid" />
        </td>
        <td style="width:25%;">
          {{booking.package.hotel_name}}
        </td>
        <td style="width:15%;">
          {{ booking.status | capitalize }}
        </td>
        <td style="width:15%;">
          {{booking.check_in_date|formatdate}}
        </td>

        {% if booking.status == "upcoming" %}
        <form method="POST" action="/updateBooking" style="display: inline">
          <input type="hidden" value="{{booking.package.hotel_name}}" name="hotel_name">
          <input type="hidden" value="{{booking.check_in_date}}" name="old_check_in_date">
          <input type="hidden" value="{{booking.status}}" name="status">
          <td style="width:20%;">
            <input type="date" id="check_in_date" name="check_in_date">
          </td>
          <td>
            <button type="submit" class="btn btn-primary" value="Update">Update</button>
          </td>
        </form>
        <td>
          <form method="POST" action="/cancelBooking" style="display: inline">
            <input type="hidden" value="{{booking.package.hotel_name}}" name="hotel_name">
            <input type="hidden" value="{{booking.check_in_date}}" name="old_check_in_date">
            <input type="hidden" value="{{booking.status}}" name="status">
            <button type="submit" class="btn btn-primary" value="Cancel"
              onclick="return confirm('Are you sure you want to cancel booking?');">Cancel</button>
          </form>
        </td>
        {% elif booking.status == "cancelled" or booking.status == "completed" %}
        <td>
        <td>
          <!-- Empty table data -->
        </td>
        </td>
        <td>
          <form method="POST" action="/deleteBooking" style="display: inline">
            <input type="hidden" value="{{booking.package.hotel_name}}" name="hotel_name">
            <input type="hidden" value="{{booking.check_in_date}}" name="old_check_in_date">
            <input type="hidden" value="{{booking.status}}" name="status">
            <button type="submit" class="btn btn-primary" value="Delete"
              onclick="return confirm('Are you sure you want to delete booking?');">Delete</button>
          </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>

  </div>
  {% endif %}
  {% endblock %}
</body>